/* Estilos para o corpo da página */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffe9da;
}

/* Estilos para o contêiner principal */
.container {
    width: 20%;
    text-align: center;
    background-color: rgb(204, 75, 30);
    padding: 20px;
}

/* Estilos para um contêiner específico chamado .butoes-centrais */
.butoes-centrais {
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(204, 75, 30);
}

/* Estilos para o título h4 dentro do contêiner .butoes-centrais */
.butoes-centrais h4 {
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

/* Estilos para botões genéricos */
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: white;
    color: black;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para o estado de hover dos botões */
.btn:hover {
    background-color: #ffe9da;
}
