/* Estilo para o corpo da página */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('img/login.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Estilo para o contêiner principal */
.container {
    width: 20%;
    text-align: center;
    background-color: rgb(204, 75, 30);
    padding: 20px;
}

/* Estilo para formulários */
form {
    text-align: left;
}

/* Estilo para campos de entrada de e-mail e senha */
input[type=email], input[type=password] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilo para campos de entrada de texto e senha */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilo para botões de envio */
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Efeito de hover para botões de envio */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Estilo para rótulos */
label {
    font-weight: bold;
}
